@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    direction: rtl;
    font-family: "IranSans";
}

body{
  background-color: #F8FAFC;
}

@font-face {
  font-family: "IranSans";
  src: url("/fonts/IRANSans-Edit.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

.background-glow {
  background: radial-gradient(circle, rgba(118, 75, 224, 0.2), rgba(118, 75, 224, 0) 70%);
  opacity: .5;

}

/* Button */
.animate-up-down {
  animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #007bff; }
}



@media (max-width: 768px) {
  .cta-button {
    padding: 10px 16px;
    font-size: 14px;
    width: 100%;
    max-width: 280px;
  }
}